@import '../shared/sass/base.scss';
@import '../shared/components/bookmarks_list/bookmarks_list.scss';
@import '../shared/components/header/header.scss';

body {
  background: #fafafa;
}

.app__inner {
  margin: 0 auto;
  padding: 44px 0 50px;
  max-width: 1170px;
}

main {
  display: flex;
}

aside {
  flex: 0 0 25%;
}

.bookmarks-list {
  flex: 0 0 75%;
}
