body {
  background: #f2f2f2;
  font-size: 81.25%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  margin: 0;
  font-size: inherit;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
input,
:focus {
  outline: 0;
}
