.tags {
  height: 32px;
  line-height: 32px;
  text-align: right;
}

.tags[contenteditable] {
  text-align: left;
}

.tags__tag {
  display: inline-block;
  margin-right: 1em;
  color: #aaa;
  font-size: 1.2em;
  font-weight: bold;
}
