/**
 * Bookmarks list.
 */

.bookmarks-list {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  padding: 45px 35px;
  background: #fff;
}

/**
 * Bookmark.
 */

.bookmark {
  width: 100%;
  font-size: 14px;
  transition:
    box-shadow 300ms cubic-bezier(.65, -1, .25, 2.5),
    transform 300ms cubic-bezier(.65, -1, .25, 2.5);
}

.bookmark__link {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 0;
}

.bookmark__favicon {
  margin: 0 10px;
  width: 16px;
  height: 16px;
  -webkit-filter: grayscale(100%);
}

.bookmark__site {
  width: 180px;
}

.bookmark__title {
  flex: 1;
}

.bookmark__tags {
  flex: 1;
  text-align: right;
}

/**
 * Tag.
 */

.tag {
  display: inline-block;
  margin-right: 1em;
  color: #aaa;
  font-size: 1.2em;
  font-weight: bold;
}
