/**
 * Bookmarks list.
 */

.bookmarks-list {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  padding: 45px 35px;
  background: #fff;
}

/**
 * Bookmark.
 */

.bookmark {
  width: 100%;
  font-size: 14px;
  transition:
    box-shadow 300ms cubic-bezier(.65, -1, .25, 2.5),
    transform 300ms cubic-bezier(.65, -1, .25, 2.5);

  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 12px 0;
  }

  &__favicon {
    margin-right: 14px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    -webkit-filter: grayscale(100%);
  }

  &:hover &__favicon {
    -webkit-filter: none;
  }

  &__infos {
    flex: 3;
  }

  &__site {
    &::after {
      content: ' - ';
    }
  }

  &__title {
    color: #999;

    &[contenteditable] {
      border: 1px solid #ddd;
      padding: 6px;
      white-space: nowrap;
    }
  }

  &:hover &__title {
    color: #db4c3f;
  }

  &__tags {
    flex:  0 0 100%;
    margin-top: 4px;
    padding-left: 30px;
    font-size: 11px;
    // color: #888;
    color: #3299F3;

    &:focus {
      color: inherit;
    }

    @at-root input#{&} {
      margin-right: 5px;
      border: 1px solid #ddd;
      padding: 5px 5px 6px;
      text-align: left;
    }
  }
}

/**
 * Tag.
 */

.tag {
  display: inline-block;
  margin-right: 10px;
}
