@import '../search/search';

.header {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
  padding: 6px calc(50% - 585px);
  background: $md-red-500;
  border-bottom: solid 1px darken($md-red-500, 10);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  will-change: transform;

  &__title {
    flex: 0 0 25%;
  }

  .search {
    flex: 0 0 75%;
  }
}
